@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../img/bg_bggenerator_com (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: auto;
  display: block;
  font-family: "Nerko One", cursive;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h2 {
  font-family: "Nerko One", cursive;
  letter-spacing: 5px;
  font-size: 20px;
  padding-left: 50px;
  text-transform: uppercase;
}

p {
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  padding-left: 50px;
}

section {
  min-height: 100vh;
  padding-top: 15vh;
}

#menu {
  background-color: #150a2e;
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 10;
}

.list {
  text-align: center;
  text-justify: center;
}

.list__item {
  position: relative;
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  margin: 20px;
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 1px #10104d;
  box-shadow: 0px 0px 4px 1px #0a0a47;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list__item a {
  color: blue;
  text-decoration: none;
  display: block;
  font-family: "Nerko One", cursive;
}

.list__item::before {
  content: "";
  background-color: #13136b;
  position: absolute;
  border-top: 1px solid #131379;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(2em) rotateX(40deg) scale(1, 0.35);
          transform: perspective(2em) rotateX(40deg) scale(1, 0.35);
  -webkit-filter: blur(1.3em);
          filter: blur(1.3em);
}

.list__item:hover::before {
  border-top: 1px solid whitesmoke;
  -webkit-filter: blur(0.7em);
          filter: blur(0.7em);
  -webkit-box-shadow: 0 2px 0 0 blue;
          box-shadow: 0 2px 0 0 blue;
}

.list__item:hover, .list__item:focus {
  background-color: blue;
  border: 2px solid whitesmoke;
  -webkit-box-shadow: 2px 1px 20px 5px blue;
  box-shadow: 2px 1px 20px 5px blue;
}

.list__item:hover a {
  color: whitesmoke;
}

.main {
  background-image: url(/img/zespół.jpg);
  background-size: cover;
  color: whitesmoke;
}

.main .text {
  margin: auto;
  padding: 0 20px;
  width: 80%;
  background: url("../img/kółka.jpg");
  background-size: cover;
  opacity: 0.8;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
}

.main__titel {
  width: 20vw;
  margin-top: 40vh;
  padding: 5px;
}

.main__undertitel {
  width: 20vw;
  margin: auto;
  padding: 5px;
}

.main__text {
  padding: 5px;
  margin: auto;
}

.about {
  width: 100vw;
  color: #c2c5c7;
  text-align: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__team {
  width: 80vw;
  height: 400px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.about__person {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.about__person:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 100;
}

.about__person:hover p, .about__person:hover h3 {
  width: 100%;
}

.about__person p {
  text-transform: uppercase;
  margin-top: 350px;
}

.about__person p, .about__person h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  overflow: hidden;
  font-family: "Caveat", cursive;
  font-size: 30px;
  background: url("../img/bg_bggenerator_com (1).jpg");
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about__person:nth-child(1) {
  background: url("../img/bassista.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__person:nth-child(2) {
  background: url("../img/klawiszowiec.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__person:nth-child(3) {
  background: url("../img/wokalistka.jpg");
  background-size: cover;
  background-position-x: -450px;
  background-repeat: no-repeat;
}

.about__person:nth-child(4) {
  background: url("../img/perkusista.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.about__person:nth-child(5) {
  background: url("../img/gitarzysta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery {
  background-size: cover;
  color: #f4ff56;
}

.gallery h2 {
  width: 100%;
  text-align: center;
  margin: auto;
}

.demo {
  background-size: cover;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
}

.demo h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0px 20px;
}

.demo .music_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.demo .music_item {
  display: block;
  width: 100%;
  padding: 10px;
}

.demo .music_item p {
  width: 100%;
  text-align: center;
  color: #FFF;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.demo .music_item audio {
  width: 100%;
  color: #FFF;
}

.contact {
  background: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  color: #c2c5c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.contact__text {
  width: 50vw;
  height: 100%;
  margin-top: 50vh;
  padding-top: 20vh;
  padding: 50px;
  display: inline-block;
  background: rgba(95, 11, 86, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
}

footer {
  height: 10vh;
  background: #000;
  text-align: center;
  margin: auto;
  color: white;
  padding: 20px;
}

@media (max-width: 420px) {
  h1 {
    font-size: 30px;
  }
  #menu {
    height: 10vh;
  }
  .list__item {
    margin: 15px 5px;
    padding: 2px;
    font-size: 15px;
  }
  .main .text {
    width: 100%;
  }
  .about__team {
    width: 90vw;
    height: 80vh;
    display: flexbox;
    position: relative;
  }
  .about__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40vh;
    width: 45vw;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .about__person:hover p {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 100vw;
    height: 20%;
    margin-top: 80%;
    font-size: 10px;
  }
  .about__person:hover h3 {
    width: 100vw;
    height: 20%;
    margin-top: 100%;
  }
  .about__person:nth-child(1) {
    top: 0;
    left: 0;
  }
  .about__person:nth-child(2) {
    top: 0;
    right: 0;
  }
  .about__person:nth-child(3) {
    top: 25%;
    left: -150%;
    background-position-x: -300px;
    z-index: 3;
  }
  .about__person:nth-child(4) {
    top: 50%;
    left: -303%;
  }
  .about__person:nth-child(5) {
    top: 50%;
    left: -303%;
  }
  .demo .music_list {
    width: 80vw;
  }
  .contact__text {
    width: 100vw;
    padding: 10px;
    min-height: 40vh;
  }
  .contact__text p {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */