//********************  imports
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

// ***********************variables
$simple-text:'Roboto', sans-serif;
$hand-text:'Caveat', cursive;
$big-text:'Nerko One', cursive;
$rainbow:linear-gradient(90deg, #0f2188 , #218108 , #d3d011 , #bb4415 , #6e061d ,);
//********************* ground css

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url("../img/bg_bggenerator_com\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin: auto;
  display: block;
  font-family: $big-text;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h2 {
  font-family: $big-text;
  letter-spacing: 5px;
  font-size: 20px;
  padding-left: 50px;
  text-transform: uppercase;
}

p {
  letter-spacing: 2px;
  font-family: $simple-text;
  padding-left: 50px;
}

section {
  height: 100vh;
  padding-top: 15vh;
}
// ****************menu
#menu {
  background-color: #150a2e;
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.list {
  
  text-align: center;
  text-justify: center;
    &__item {
    position: relative;
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    margin: 20px;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 1px rgb(16, 16, 77);
    box-shadow: 0px 0px 4px 1px rgb(10, 10, 71);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
      a {
      color: blue;
      text-decoration: none;
      display: block;
      font-family:$big-text;
  }
}
  &__item::before {
  content: "";
  background-color: rgb(19, 19, 107);
  position: absolute;
  border-top: 1px solid rgb(19, 19, 121);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(2em) rotateX(40deg) scale(1 , 0.35);
  filter: blur(1.3em);
  }
  &__item:hover::before{
    border-top: 1px solid whitesmoke;
    filter: blur(0.7em);
    box-shadow: 0 2px 0 0 blue;
  }


  &__item:hover,
  &__item:focus {
    background-color: blue;
    border: 2px solid whitesmoke;
    -webkit-box-shadow: 2px 1px 20px 5px blue;
    box-shadow: 2px 1px 20px 5px blue;
  }

  &__item:hover a {
    color: whitesmoke;
  }

}


// *********************start
.main {
  background-image: url(/img/zespół.jpg);
  background-size: cover;
  color: whitesmoke;
  
  .text{
    margin: auto;
    padding: 0 20px;
    width: 80%;
    // background: rgba( 231, 24, 181, 0.15 );
    background: url("../img/kółka.jpg");
    background-size: cover;
    opacity: 0.8;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
border-radius: 20px;

  }
  &__titel {
  width: 20vw;
  margin-top: 40vh;
  padding: 5px;
  
}
&__undertitel {
  width: 20vw;
  margin: auto;
  padding: 5px;
 
}
&__text {
  padding: 5px;
  margin: auto;
 
}

}



// **********************about
.about {
  width: 100vw;
  color: #c2c5c7;
  text-align: center;
  justify-items: center;
  align-items: center;
 
  
  &__team{
    width: 80vw;
    height: 400px;
    margin: auto;
    display: grid;
    // background: #000;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;

  }
  &__person{
    
    height: 100%;
    background-size:cover ;
    background-position:center ;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    &:hover{
      transform: scale(1.2);
      z-index:100;
    }

    &:hover p, &:hover h3 {
      width: 100%;
    }
    p{
      text-transform: uppercase;
      margin-top: 350px;
      
    }
    p, h3{
      display: flex;
      width: 0px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      color: white;
      overflow: hidden;
      font-family: $hand-text;
      font-size: 30px;
      background: url("../img/bg_bggenerator_com\ \(1\).jpg");
      background-size: cover;
      transition: all 0.3s ease-in-out;
    }

  }
  &__person:nth-child(1){
    background: url("../img/bassista.jpg");
    background-size:cover ;
    background-position:center ;
    background-repeat: no-repeat;
  }
  &__person:nth-child(2){
    background: url("../img/klawiszowiec.jpg");
    background-size:cover ;
    background-position:center ;
    background-repeat: no-repeat;
  }
  &__person:nth-child(3){
    background: url("../img/wokalistka.jpg");
    background-size:cover ;
    background-position-x:-450px ;
    background-repeat: no-repeat;
  }
  &__person:nth-child(4){
    background: url("../img/perkusista.jpg");
    background-size:cover ;
    background-position:left ;
    background-repeat: no-repeat;
  }
  &__person:nth-child(5){
    background: url("../img/gitarzysta.jpg");
    background-size:cover ;
    background-position:center ;
    background-repeat: no-repeat;
  }
  

  }

//********************* gallery
.gallery{
  // background: url("../img/kółka.jpg");
  background-size: cover;
  color: rgb(244, 255, 86);
  h2{
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
//********************** demo video
.demo {
  // background: url("../img/kółka\ i\ tr.jpg");
  background-size: cover;
  display: block;
  align-items: center;
  color: aliceblue;
  h2{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0px 20px;
  }
  .music_list{
    display: grid;
    grid-column: 1fr;
    width: 50vw;
    align-items: center;
    margin: auto;
  }
  .music_item {
    display: block;
    width: 100%;
    padding: 10px;
}

.music_item p {
    // background: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    
}




.music_item audio {
    width: 100%;
    // background: rgba(0, 0, 0, .5);
    color: #FFF;
}

}
  

//****************** contact

.contact{
  background: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  color: #c2c5c7;
  display: flex;
  margin: 0;
  padding: 0;


  &__text{
    width: 50vw;
    height: 100%;
    padding-top: 20vh;
    padding: 50px;
    display: inline-block;
    background: rgba( 95, 11, 86, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );


  }
  &__img{
    position: relative;
    width: 50vw;
    height: 100%;
    // background: $rainbow;
    display: inline-block;

  }
}
@media (max-width:420px) {
  #menu{
    height: 10vh;
   
  }
  .list__item{
    margin:15px 5px;
    padding: 2px;
   }
   .about{
     &__team{
    width: 90vw;
    height: 80vh;
    display: flexbox;
    position: relative;
   }
    &__person{
     display:flex;
     height: 40vh;
     width: 45vw;
     position: relative;
     margin: 0;
     padding: 0;
     gap: 0;
      
    }
    &__person:nth-child(1){
      top: 0;
      left: 0;
    }
    &__person:nth-child(2){
      top: 0;
      right: 0;
    }
    &__person:nth-child(3){
      top: 25%;
      left: -150%;
      background-position-x:-350px ;
      z-index: 3;
      
    }
    &__person:nth-child(4){
     
      top:50%;
      left: -300%;
    }
    &__person:nth-child(5){
      top: 50%;
      left: -300%;
    }
  }
  .demo{
    .music_list{
    width: 80vw;
  }
  }
  
}